@import "../../../vendor/bower_components/materialize/sass/materialize";
@import "fullcalendar";

.tiny{
  font-size: 1rem;
}

.small{
  font-size: 2rem;
}

.medium{
  font-size: 4rem;
}

.large{
  font-size: 6rem;
}